.TitlePageMainContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InnerTitlePageMainContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.TitlePageTitle {
    font-weight: 600;
    font-size: 7rem;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.TitlePageButtonContainer {
    width: 260px;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}