.FileUploadButton {
    border: 1px solid #C9C5C5;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    font-size: 14px;
    font-family: 'Nunito';
    color: #5c5c70;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(26,26,59,0.07);
    padding: 0;
}

.FileUploadButton:hover {
    cursor: pointer;
    box-shadow: 0 0 16px 0 rgba(26,26,59,0.17);
}

.FileUploadButton:focus {
    outline:0;
}